body {
  background-color: rgb(237, 212, 216);
}
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  text-align: center;
  font-family: "Playfair Display", serif;
}
.button-hero {
  margin: 0 auto;
  background: #6c63ff;
  color: white;
}
.app-link {
  background: #442853;
  color: white;
  border: 3px groove #bd3077;
  border-radius: 30px;
  padding: 20px 15px;
  opacity: 0.5;
  text-decoration: none;
  box-shadow: 0 5px 10px #c62371;
  display: inline-block;
  margin-top: 20px;
}
