body {
  background-color: rgb(237, 212, 216);
}
:root {
  --primary-color: #c62371;
  --secondary-color: white;
  --button-color: #6c63ff;
  --link-color: #442853;
}
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  text-align: center;
  font-family: "Playfair Display", serif;
  margin-top: 30px;
}

.button-hero {
  margin: 20px auto;
  background: var(--button-color);
  color: var(--secondary-color);
}
.app-link {
  background: var(--link-color);
  color: var(--secondary-color);
  border: 3px groove #bd3077;
  border-radius: 30px;
  padding: 20px 15px;
  opacity: 0.5;
  text-decoration: none;
  box-shadow: 0 5px 10px var(--primary-color);
  display: block;
  margin: 30px auto;
  text-transform: capitalize;
  width: 150px;
}
.app-link:hover {
  background: var(--primary-color);
  color: var(--link-color);
}
.app-headings {
  font-size: 36px;
  margin: 40px;
}
.app-description {
  font-size: 16px;
  text-align: center;
}
.app-images {
  margin-bottom: 20px;
}
.footer-links {
  text-decoration: none;
  color: var(--button-color);
  margin-right: 32px;
}
.footer-works {
  margin-top: 40px;
  padding-top: 30px;
}
.about-me-heading {
  font-size: 64px;
}
.my-picture {
  border-radius: 5%;
}
.button-about-contacts,
.button-about {
  width: 150px;
  height: 45px;
  margin: 30px;
  background: var(--button-color);
  color: var(--secondary-color);
}
.about-paragraph .button-about {
  margin: 20px auto;
}
.inquiry p {
  color: #272142;
  opacity: 70%;
}
.inquiry {
  background: #dec1c6;
  margin-left: 55px;
}

.my-email,
.my-email-contacts {
  display: block;
  margin: 30px auto;
  font-size: 24px;
}
.my-email-contacts {
  margin-top: 150px;
}
.about-me {
  margin: 60px;
}
.about-img {
  margin-left: 40px;
  margin-bottom: 40px;
  width: 560px;
}
.inquiry-contacts {
  margin-top: 40px;
  background: #dec1c6;
}

.works-inquiry,
.my-email,
.works-heading {
  margin-top: 60px;
}
.works-examples {
  margin-top: 40px;
}
.hero .heading-contacts {
  margin: 100px 0;
}
heading .contacts {
  list-style: none;
  display: block;
  margin: 0 auto;
  text-decoration: none;
}

.about-me h4 {
  text-align: left;
}
.about-me h1 {
  text-align: left;
}
.button-contact {
  margin: 0 auto;
  width: 150px;
  height: 45px;
  background: var(--button-color);
  color: var(--secondary-color);
  margin-top: 20px;
  border-radius: 10px;
}
footer .open-source-link {
  text-align: center;
  margin: 10px;
  color: var(--link-color);
  font-family: "Playfair Display", serif;
}
@media (max-width: 576px) {
  .about-me {
    max-width: 70%;
  }

  .footer-contact-links,
  .footer-works {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    font-size: 12px;
  }
  .my-email {
    font-size: 14px;
  }

  .about-me-heading {
    font-size: 24px;
  }
  .inquiry-contacts {
    width: 300px;
  }
}
