body {
  background-color: rgb(237, 212, 216);
}
:root {
  --primary-color: #c62371;
  --secondary-color: white;
  --button-color: #6c63ff;
  --link-color: #442853;
}
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  text-align: center;
  font-family: "Playfair Display", serif;
  margin-top: 30px;
}

.button-hero {
  margin: 20px auto;
  background: var(--button-color);
  color: var(--secondary-color);
}
.app-link {
  background: var(--link-color);
  color: var(--secondary-color);
  border: 3px groove #bd3077;
  border-radius: 30px;
  padding: 20px 15px;
  opacity: 0.5;
  text-decoration: none;
  box-shadow: 0 5px 10px var(--primary-color);
  display: block;
  margin: 30px auto;
  text-transform: capitalize;
  width: 150px;
}
.app-link:hover {
  background: var(--primary-color);
  color: var(--link-color);
}
.app-headings {
  font-size: 36px;
  margin: 40px;
}
.app-description {
  font-size: 16px;
}
.app-images {
  margin-bottom: 20px;
}
.footer-links {
  text-decoration: none;
  color: var(--button-color);
}
.about-me-heading {
  font-size: 64px;
}
.my-picture {
  border-radius: 5%;
}
.button-about {
  width: 150px;
  height: 45px;
  margin: 20px 0;
  background: var(--button-color);
  color: var(--secondary-color);
}
.inquiry p {
  color: #272142;
  opacity: 70%;
}
.inquiry {
  background: #dec1c6;
}
.my-email {
  display: block;
  margin: 30px auto;
}
.about-me {
  margin: 60px;
}
.about-img {
  margin: 40px;
}
.inquiry-contacts {
  margin-top: 40px;
  background: #dec1c6;
}
.hero .heading-contacts {
  margin: 100px 0;
}
.my-email {
  margin-top: 60px;
}
